.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  margin-top: 70px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

/* Center align the social media icons */
.footer-links {
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}
.footer-logo img {
  height: 35px;
  width: 150px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: green;
}

.footer-bottom {
  text-align: right;
  margin-top: 50px;
}
