.animated-live {
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 10px;
  max-width: 100%;
  animation: pulseEffect 3s infinite ease-in-out;
}

/* Keyframes for Live Pulse Effect */
@keyframes pulseEffect {
  0% {
    transform: scale(1);
    opacity: 2;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-link {
  animation: blink 1s infinite;
 
}

